<div id="cat-form-container" class="row">
  <div class="col-xs-3">
    <button type="button" class="btn btn-default" name="button" ng-click="$ctrl.toggleAdminView()">Admin</button>
  </div>
  <form id="cat-form" class="col-xs-9" ng-if="$ctrl.showAdminView">
    <input type="text" class="form-control" name="name" placeholder="Cat Name" ng-model="$ctrl.currentCat.name">
    <input type="text" class="form-control" name="src" placeholder="Image url" ng-model="$ctrl.currentCat.src">
    <input type="number" class="form-control" ng-keyup="$ctrl.setClickCounter()" name="numberOfClicks" placeholder="Number of Clicks" ng-model="$ctrl.currentCat.numberOfClicks">
    <input type="text" class="form-control" name="level" placeholder="Level" ng-model="$ctrl.currentCat.level">
    <div>
      <button class="btn btn-default" ng-click="$ctrl.toggleAdminView()">Close</button>
    </div>
  </form>
</div>